<div class="card">
  <div class="card-body">

    <p>Komponent rodzica (przykład komunikacji z dziecka do rodzica)</p>
    <p>Przekazany text: {{text}}</p>
    <app-child2 (textChange)="text = $event"></app-child2>
    <!--
    (textChange) - nasłuchuje na nasz event z dziecka
    rodzic przechwytuje dane w postaci $event i przypisuje do text
    -->

  </div>
</div>
