<div class="container">

  <h1>użytkownicy</h1>

  <button (click)="getById()" class="btn btn-warning mb-3">Pobierz po ID</button>

  <app-business-card *ngFor="let user of users; let last = last; let first = first;"
    [first]="first" [last]="last" [user]="user" (removedUser)="catchUser($event)">
  </app-business-card>

</div>
