<table class="table table-bordered" [ngClass]="{myBackgroundGrey: first || last}">

  <tbody>
  <tr [ngClass]="{myBackground: show}">
    <td style="width: 130px;">
      <img class="img-thumbnail" style="width: 100px" [src]="user.image" />
    </td>
    <td [ngClass]="{colorBraun: show}">
      <p appTextColor><i class="bi bi-person-circle"></i> Imię: {{user.firstName}}</p>
      <p appTextColor><i class="bi bi-person-circle"></i> Nazwisko: {{user.lastName}}</p>
      <p>
        <button class="btn btn-primary" (click)="toggle()">
          <i [ngClass]="{'bi-arrow-down-circle-fill': !show, 'bi-arrow-up-circle-fill': show}" class="bi"></i>
          {{ show ? 'mniej' : 'więcej' }}
        </button>
        <button class="btn btn-danger ml-1" (click)="remove(user.id)">
          <i class="bi bi-trash"></i> usuń
        </button>
        <button (click)="editModalOpen(user)" class="btn btn-warning ml-1">
          <i class="bi bi-pencil"></i> edytuj
        </button>
      </p>
      <p *ngIf="show"><i class="bi bi-briefcase-fill"></i> Stanowisko: {{user.title}}</p>
      <p *ngIf="show"><i class="bi bi-envelope-fill"></i> Email: {{user.email}}</p>
      <p *ngIf="show"><i class="bi bi-telephone-fill"></i> Telefon: {{user.phone}}</p>
      <p *ngIf="show">Karta kredytowa: {{ '3445 7658 9866 5672' | creditCard }}</p>
      <p *ngIf="show">Email chroniony: {{ 'tomasz@kowalski.pl' | emailProtection }}</p>
      <p *ngIf="show">Telefon chroniony: {{ '603818975' | phoneProtection }}</p>
      <p *ngIf="show">Telefon (co 2 znak chroniony): {{ '603818975' | hashOdd }}</p>
    </td>
  </tr>
  </tbody>

</table>
