<div class="container">

  <h3 class="mt-3 mb-3" [ngSwitch]="mode">
    <span *ngSwitchCase="userModeEnum.CREATE">Formularz dodawania użytkownika (reactive form)</span>
    <span *ngSwitchCase="userModeEnum.UPDATE">Formularz edytowania użytkownika (reactive form)</span>
    <span *ngSwitchDefault>Nierozpoznany typ</span>
  </h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="inputFirstName" class="col-sm-2 col-form-label">Imię</label>
      <div class="col-sm-10">
        <input formControlName="firstName" class="form-control" id="inputFirstName"
               [ngClass]="{
               'is-invalid': form.get('firstName').invalid && (form.get('firstName').touched || form.get('firstName').dirty),
               'is-valid': form.get('firstName').valid && (form.get('firstName').touched || form.get('firstName').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('firstName')"></app-error-label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputLastName" class="col-sm-2 col-form-label">Nazwisko</label>
      <div class="col-sm-10">
        <input formControlName="lastName" class="form-control" id="inputLastName"
               [ngClass]="{
               'is-invalid': form.get('lastName').invalid && (form.get('lastName').touched || form.get('lastName').dirty),
               'is-valid': form.get('lastName').valid && (form.get('lastName').touched || form.get('lastName').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('lastName')"></app-error-label>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputAge" class="col-sm-2 col-form-label">Wiek</label>
      <div class="col-sm-10">
        <input formControlName="age" class="form-control" id="inputAge"
               [ngClass]="{
               'is-invalid': form.get('age').invalid && (form.get('age').touched || form.get('age').dirty),
               'is-valid': form.get('age').valid && (form.get('age').touched || form.get('age').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('age')"></app-error-label>
      </div>
    </div>
    <div class="form-group row">
      <label for="city" class="col-sm-2 col-form-label">Miasto</label>
      <div class="col-sm-10">
        <input formControlName="city" class="form-control" id="city"
               [ngClass]="{
               'is-invalid': form.get('city').invalid && (form.get('city').touched || form.get('city').dirty),
               'is-valid': form.get('city').valid && (form.get('city').touched || form.get('city').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('city')"></app-error-label>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input formControlName="email" class="form-control" id="email"
               [ngClass]="{
               'is-invalid': form.get('email').invalid && (form.get('email').touched || form.get('email').dirty),
               'is-valid': form.get('email').valid && (form.get('email').touched || form.get('email').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('email')"></app-error-label>
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-2 col-form-label">Telefon</label>
      <div class="col-sm-10">
        <input formControlName="phone" class="form-control" id="phone"
               [ngClass]="{
               'is-invalid': form.get('phone').invalid && (form.get('phone').touched || form.get('phone').dirty),
               'is-valid': form.get('phone').valid && (form.get('phone').touched || form.get('phone').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('phone')"></app-error-label>
      </div>
    </div>
    <div class="form-group row">
      <label for="image" class="col-sm-2 col-form-label">Obrazek</label>
      <div class="col-sm-10">
        <input formControlName="image" class="form-control" id="image"
               [ngClass]="{
               'is-invalid': form.get('image').invalid && (form.get('image').touched || form.get('image').dirty),
               'is-valid': form.get('image').valid && (form.get('image').touched || form.get('image').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('image')"></app-error-label>
      </div>
    </div>
    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Tytuł</label>
      <div class="col-sm-10">
        <input formControlName="title" class="form-control" id="title"
               [ngClass]="{
               'is-invalid': form.get('title').invalid && (form.get('title').touched || form.get('title').dirty),
               'is-valid': form.get('title').valid && (form.get('title').touched || form.get('title').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('title')"></app-error-label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button class="btn btn-primary">
          <i class="bi bi-plus-circle"></i>
          Zapisz
        </button>
      </div>
    </div>
  </form>

</div>
