<div class="container">

  <h3 class="mt-3 mb-3" [ngSwitch]="mode">
    <span *ngSwitchCase="productMode.CREATE">Formularz dodawania produktu (reactive form)</span>
    <span *ngSwitchCase="productMode.UPDATE">Formularz edytowania produktu (reactive form)</span>
    <span *ngSwitchDefault>Nierozpoznany typ</span>
  </h3>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Nazwa</label>
      <div class="col-sm-10">
        <input formControlName="name" class="form-control" id="inputName"
               [ngClass]="{
               'is-invalid': form.get('name').invalid && (form.get('name').touched || form.get('name').dirty),
               'is-valid': form.get('name').valid && (form.get('name').touched || form.get('name').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('name')"></app-error-label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPrice" class="col-sm-2 col-form-label">Cena</label>
      <div class="col-sm-10">
        <input formControlName="price" class="form-control" id="inputPrice"
               [ngClass]="{
               'is-invalid': form.get('price').invalid && (form.get('price').touched || form.get('price').dirty),
               'is-valid': form.get('price').valid && (form.get('price').touched || form.get('price').dirty)
               }">
        <app-error-label class="invalid-feedback" [control]="form.get('price')"></app-error-label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputWeight" class="col-sm-2 col-form-label">Waga</label>
      <div class="col-sm-10">
        <input formControlName="weight" class="form-control" id="inputWeight">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputImage" class="col-sm-2 col-form-label">Obrazek</label>
      <div class="col-sm-10">
        <input formControlName="image" class="form-control" id="inputImage">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputDate" class="col-sm-2 col-form-label">Data</label>
      <div class="col-sm-10">
        <input formControlName="date" type="datetime-local" class="form-control" id="inputDate">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button class="btn btn-primary">
          <i class="bi bi-plus-circle"></i>
          Zapisz
        </button>
      </div>
    </div>
  </form>

</div>
