<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">WebCoders</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/user">Użytkownicy</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/product">Produkty</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/test">Test</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/product-add">Dodaj produkt (TD)</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/product-add-reactive-form">Dodaj produkt (RF)</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#" routerLink="/rxjs">RxJS</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
