<div *ngIf="control.invalid">
  <p *ngIf="control.hasError('required')">Pole jest wymagane</p>
  <p *ngIf="control.hasError('minlength')">
    Pole powinno mieć więcej niż {{control.getError('minlength').requiredLength}} znaki
  </p>
  <p *ngIf="control.hasError('maxlength')">
    Pole powinno mieć mniej niż {{control.getError('maxlength').requiredLength}} znaków
  </p>
  <p *ngIf="control.hasError('min')">Pole ma zbyt niską wartość</p>
  <p *ngIf="control.hasError('max')">Pole ma zyt wysoką wartość</p>
  <p *ngIf="control.hasError('pattern')">Pole nie jest zgodne ze wzorce</p>
</div>
