<div class="container">

  <h1>produkty</h1>

  <button (click)="getById()" class="btn btn-warning mb-3">Pobierz po ID</button>

  <app-product-card *ngFor="let product of products; let index = index; let odd = odd; let even = even; let last = last; let first = first;"
    [index]="index"
    [odd]="odd"
    [even]="even"
    [last]="last"
    [first]="first" [product]="product" (productRemoved)="catchProduct($event)">
  </app-product-card>

</div>
