<div class="card">
  <div class="card-body">

    <p>Komponent dziecka</p>
    <input (ngModelChange)="catchText($event)" ngModel class="form-control mb-2" placeholder="wpisz coś..." />
    <!--
    ngModel - udostępnia możliwość korzystania z ngModelChange i synchronizuje wartośc inputa z $event
    (ngModelChange) zdarzenie nasłuchujące wartość inputa
     -->

  </div>
</div>
