<table class="table table-bordered" [ngClass]="{myBackgroundGrey: show}">
<!-- [class.myBackgroundGrey]="even" to samo co [ngClass]="{myBackgroundGrey: show}" -->

  <tbody>
  <tr [ngClass]="{myBackground: show}">
    <td style="width: 130px;">
      <img class="img-thumbnail" style="width: 100px" [src]="product.image" />
      <p>index: {{index}}</p>
      <p>nie parz: {{odd}}</p>
      <p>parzysty: {{even}}</p>
      <p>czy pierwszy?: {{first}}</p>
      <p>czy ostatni?: {{last}}</p>
    </td>
    <td [ngClass]="{colorBraun: show}">
      <p appTextColor><i class="bi bi-info-circle"></i> Nazwa: {{product.name | myText}}</p>
      <p>
        <button class="btn btn-primary" (click)="toggle()">
          <i [ngClass]="{'bi-arrow-down-circle-fill': !show, 'bi-arrow-up-circle-fill': show}" class="bi"></i>
          {{ show ? 'mniej' : 'więcej' }}
        </button>
        <button class="btn btn-danger ml-1" (click)="remove(product.id)">
          <i class="bi bi-trash"></i> usuń
        </button>
        <button (click)="editModalOpen(product)" class="btn btn-warning ml-1">
          <i class="bi bi-pencil"></i> edytuj
        </button>
      </p>
      <p *ngIf="show" appFont><i class="bi bi-cash-stack"></i> Cena: {{product.price | currency : 'zł'}}</p>
      <p *ngIf="show"><i class="bi bi-info-circle"></i> Waga: {{product.weight | weight: 'g'}}</p>
      <p *ngIf="show" appBold><i class="bi bi-info-circle"></i> Data dodania: {{product.date | date : 'short'}}</p>
    </td>
  </tr>
  </tbody>

</table>
