<div class="card">
  <div class="card-body">

    <p>Komponent rodzica (przykład komunikacji z rodzica do dziecka)</p>
    <input #ref ngModel class="form-control mb-2" placeholder="wpisz coś..." />
    <app-child [text]="ref.value"></app-child>
    <!--
    #ref - lokalna referencja - uchwyt do elementu (można się szybko do niego dostać z innego miejsca)
    ngModel - synchronizuje wartość inputa z ref.value
    -->

  </div>
</div>
