<div class="container">

  <h3 class="mt-3 mb-3">Formularz dodawania produktu (template drive)</h3>
<!--  <h1>wartość: {{initialName}}</h1>-->

  <form #ref="ngForm" (ngSubmit)="onSubmit(ref)">
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Nazwa</label>
      <div class="col-sm-10">
        <input #name="ngModel"
               [ngClass]="{
               'is-invalid': name.invalid && (name.touched || name.dirty),
               'is-valid': name.valid && (name.touched || name.dirty)
               }"
               required minlength="10" maxlength="15" ngModel name="name" class="form-control" id="inputName">
<!--
  dwa poniższe zapisy są tożsame, jest to użycie event bindingu i property bindingu
  opcja nr 1 jest skrótem dla opcji nr 2 (two way data binding)
 -->
<!-- [(ngModel)]="initialName" -->
<!-- [ngModel]="initialName" (ngModelChange)="initialName = $event" -->
        <div *ngIf="name.invalid" class="invalid-feedback">
          <span *ngIf="name.hasError('required')">Pole jest wymagane</span>
          <span *ngIf="name.hasError('minlength')">Pole powinno mieć więcej niż 10 znaków</span>
          <span *ngIf="name.hasError('maxlength')">Pole powinno mieć mnije niż 15 znaków</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPrice" class="col-sm-2 col-form-label">Cena</label>
      <div class="col-sm-10">
        <input required ngModel name="price" class="form-control" id="inputPrice">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputWeight" class="col-sm-2 col-form-label">Waga</label>
      <div class="col-sm-10">
        <input required ngModel name="weight" class="form-control" id="inputWeight">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputImage" class="col-sm-2 col-form-label">Obrazek</label>
      <div class="col-sm-10">
        <input required ngModel name="image" class="form-control" id="inputImage">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputDate" class="col-sm-2 col-form-label">Data</label>
      <div class="col-sm-10">
        <input required ngModel name="date" type="datetime-local" class="form-control" id="inputDate">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button class="btn btn-primary">
          <i class="bi bi-plus-circle"></i>
          Zapisz
        </button>
      </div>
    </div>
  </form>

</div>
